{# tasks/task_index #}
{% extends "tasks/base_tasks.html" %}
{% load i18n %}


{% block container %}
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <form id="task-form" action="{% url 'tasks:index' %}" method="post">
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.task.errors }}
            <label for="{{ form.task.id_for_label }}">{% trans "task" %}:</label>
            {{ form.task }}
        </div>
        <input type="hidden" value="Submit" />
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
  <!-- Hardcoded url becasue ajax update-->
    <form id="task-form-update" action="/t/run/update" method="post">
        {% csrf_token %}
        <input type="hidden" value="Submit" />
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <h1 id="clock"></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <button id="start-counter" type="button" class="btn btn-primary btn-lg">Start!</button>
  </div>
</div>


<script type="text/javascript">

var selectedObject = null; // This will be the object to update when finished
var started = null;
var finished = null;


function newClock(){
  var today = new Date();
  //today.setMinutes(today.getMinutes() + 1);
  today.setSeconds(today.getSeconds() + 10);

  //FIX
  started = moment.utc();

  $("#clock").countdown(today, function(event) {
    $(this).text(
      event.strftime('%M:%S')
    );
  }).on('finish.countdown', function(event) {
    finished = moment.utc();
    // Submit the form
    update_run();
    $("#task-form-update").submit();
  });
}

//Button click handler
$( "#start-counter" ).click(function() {
  // Start counter
  newClock()
  $("#clock").countdown('start');

  // Disable button
  $("#start-counter").prop('disabled', true);
  $("#start-counter").text('work!');

  // Ask before leaving
  $(window).on('beforeunload', function(){
      return 'Are you sure you want to leave?';
  });

  // Submit the form
  create_run();
  $("#task-form").submit();

});

// functions
function create_run(){
  $("#task-form").submit(function(event) {
    // Add new values to the form
    $('<input />').attr('type', 'hidden')
          .attr('name', "start")
          .attr('value', started.format("YYYY-M-DD HH:mm:ss"))
          .appendTo('#task-form');

    // Ajax request
    $.ajax({
      type: $("#task-form").attr('method'),
      url: $("#task-form").attr('action'),
      data: $("#task-form").serialize(), // serializes the form's elements.
      success: function(data){
        selectedObject = data['pk'];
      },
      fail: function(data){
        alert("Something failed!");
      }
    });

    event.preventDefault(); //STOP default action
    return false; // avoid to execute the actual submit of the form.
  });
}

function update_run(){
 // Send ajax request
  $("#task-form-update").submit(function(event) {

    // Add new values to the form
    $('<input />').attr('type', 'hidden')
          .attr('name', "task")
          .attr('value', $( "#id_task" ).val())
          .appendTo('#task-form-update');

    $('<input />').attr('type', 'hidden')
          .attr('name', "start")
          .attr('value', started.format("YYYY-M-DD HH:mm:ss"))
          .appendTo('#task-form-update');

    $('<input />').attr('type', 'hidden')
          .attr('name', "finish")
          .attr('value', finished.format("YYYY-M-DD HH:mm:ss"))
          .appendTo('#task-form-update');

    // Ajax request
    $.ajax({
      type: $("#task-form-update").attr('method'),
      url: $("#task-form-update").attr('action') + "/" + selectedObject,
      data: $("#task-form-update").serialize(), // serializes the form's elements.
      fail: function(data){
        alert("Something failed!");
      }
    });

    event.preventDefault(); //STOP default action
    return false; // avoid to execute the actual submit of the form.
  });
}
</script>
{% endblock container %}